/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

body {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  margin: 0;
}

button.mat-button {
  margin: 0.5em;
}

h2 {
  font-size: 100%;
}

.div__header {
  display: flex;
  align-items: center;
  background: #9fdee0;
  padding: 0.5em;
}

.div--margins {
  margin: 0.5em;
}

.h3__small-margins {
  margin: 0;
}

.div--maxwith {
  max-width: 700px;
}

.div--maxwith500 {
  max-width: 500px;
}

.div--font {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.div--grow {
  flex-grow: 1;
}

.fill-remaining-space {
  flex: 1 1 auto;
}




