.group-container {
  max-width: 700px;
  margin: 0.5em;
}

.div__header {
  display: flex;
  align-items: center;
  background: #9fdee0;
  padding: 0.5em;
}

.icon--rightpad {
  padding-right: 0.5em;
}

.h3__small-margins {
  margin: 0;
}

.details-container {
  margin: 0.5em;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.p__small-margin{
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.grayButton {
  background: #A6BAC5;
  min-width: 10px;
  margin: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.span__gray {
  background: #DDDDDD;
  border-radius: 4px;
  padding: 0.5em;
  margin: 0.2em;
  flex: 1 1 auto;
  min-width: 180px;
}

.line {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

@media screen and (max-width: 600px) {
  .size-xl {
    display: none;
  }
}


