.form {
  max-width: 500px;
  background-color: #F7F7F7;
  border-radius: 5px;
}

.full-width {
  width: 100%;
}

.section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
}

.wrap {
  flex-wrap: wrap;
  flex-direction: column;
}

.grayButton {
  background: #A6BAC5;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.button-row {
  display: flex;
}




/*

main {
}

#loginForm {
}

.loginLabel {
  flex: 0 0 8em;
  align-self: center;
}

#loginMessage {
  margin: 0 0 0.5em 8em;
  color: red;
}

.loginPageButtonDiv {
  flex: 2;
  margin: 0 0 0.5em 0;
}

#homeautomationIcon {
  width: 5em;
}

#usernameDiv {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 1em 0 0.4em 0;
}

#passwordDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0.4em 0 1em 0;
}

.loginPageTitleDiv {
  font-size: 300%;
}*/
