<div class="div__header">
  <h3 class="h3__small-margins h3__padding">Administrationsbereich</h3>
</div>
<div class="admin-container">
  <h3>Anmeldung</h3>
  <form class="form" [formGroup]="form" novalidate>
    <section class="section">
      <md-input-container class="full-width">
        <input mdInput placeholder="E-Mail" formControlName="email">
        <md-hint *ngIf="!form.controls.email.valid" [ngStyle]="{'color': 'red'}" align="start">erforderlich
        </md-hint>
      </md-input-container>
      <md-input-container class="full-width exampleClass">
        <input mdInput placeholder="Passwort" formControlName="password" type="password">
        <md-hint *ngIf="!form.controls.password.valid" [ngStyle]="{'color': 'red'}" align="start">erforderlich</md-hint>
      </md-input-container>
    </section>
    <p>{{message}}</p>
    <div class="button-row">
      <span class="fill-remaining-space"></span>
      <button md-button (click)="doLogin(form.value, form.valid)" [disabled]="!form.valid" class="grayButton">Login
      </button>
    </div>
  </form>
  <app-my-spinner [isRunning]="busy" [delay]="150"></app-my-spinner>
</div>
