<md-sidenav-container fullscreen>
  <h1 class="header">
    Pfila 2017
  </h1>
  <md-toolbar md-raised-button color="accent">
    <button md-button (click)="home()">
      <md-icon>home</md-icon>
      Home
    </button>
    <button md-button (click)="info()">
      <md-icon>info</md-icon>
      Infos
    </button>
    <button md-button (click)="registration()">
      <md-icon>grade</md-icon>
      Anmeldung
    </button>
    <span class="fill-remaining-space"></span>
    <button md-button (click)="team()">
      <md-icon>people</md-icon>
      Team
    </button>
  </md-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-container>
