.header {
  background-color: cadetblue;
  display: flex;
  align-items: center;
  h1 {
    margin: 0.2em;
  }
}

.toolbar__header {
  background-color: cadetblue;
}

.menu__separator {
  height: 1em;
}
