.fill-remaining-space {
  flex: 1 1 auto;
}

.header {
  background-color: cadetblue;
  display: flex;
  align-items: center;
  h1 {
    margin: 0.2em;
  }
}

.main-container {
  margin: 0.5em;
}

.menu__separator {
  height: 1em;
}
