.example-form {
  max-width: 500px;
  margin-top: 1.5em;
}

.example-full-width {
  width: 100%;
  margin: 0.5em;
}

.example-section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
  min-height: 3em;
}

.wrap {
  flex-wrap: wrap;
  flex-direction: column;
}

.example-section-small {
  flex-grow: 1;
  width: 5em;
}

.example-section-middle-size {
  flex-grow: 2;
  width: 10em;
}

.example-section-big {
  flex-grow: 3;
  width: 15em;
}

.select-container {
  display:flex;
  flex-direction: column;
  margin-left: 0.5em;
  margin-right: 0.5em;
}


/*.mat-input-container {
  background-color: #EEEEEE;
}*/

.grayButton {
  background: #A6BAC5;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.button-row {
  display: flex;
}

.hint {
  margin-top: 0.2em;
  margin-bottom: 0;
  display:block;
  font-size:75%;
  bottom:0;
  color: red;
}
