.example-form {
  max-width: 500px;
  margin-top: 1.5em;
}

.example-full-width {
  width: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.example-section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
}


/*  * {
  }*/


.wrap {
  flex-wrap: wrap;
  flex-direction: column;
}

.example-section-small {
  flex-grow: 1;
  width: 5em;
}

.example-section-middle-size {
  flex-grow: 2;
  width: 10em;
}

.example-section-big {
  flex-grow: 3;
  width: 15em;
}

.mat-select {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 1em;
}
