.form {
  max-width: 500px;
  padding-top: 1.5em;
  background-color: #EEEEEE;
  border-radius: 5px;
}

.full-width {
  width: 100%;
  margin: 0.2em 0.5em 0.2em 0.5em;
}

.section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
  min-height: 3em;
}

.tiny-section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
  padding: 0.5em;
}

.wrap {
  flex-wrap: wrap;
  flex-direction: column;
}

.section-small {
  flex-grow: 1;
  width: 5em;
}

.section-middle-size {
  flex-grow: 2;
  width: 10em;
}

.section-big {
  flex-grow: 3;
  width: 15em;
}

.select-container {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.date-element {
  margin-top: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0;
}

.h2-element {
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.comment {
  resize: vertical;
}

.grayButton {
  background: #A6BAC5;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.button-row {
  display: flex;
}

.hint {
  margin-top: 0.2em;
  margin-bottom: 0;
  display: block;
  font-size: 75%;
  bottom: 0;
  color: red;
}


