<div color="primary" class="admin-container">
  <button md-button class="button" [routerLink]="[{ outlets: { admin: ['users'] } }]">Users</button>
  <button md-button class="button" [routerLink]="[{ outlets: { admin: ['groups'] } }]">Groups</button>
  <button md-button class="button" [routerLink]="[{ outlets: { admin: ['registrations'] } }]">Anmeldungen</button>
  <button md-button class="button" [routerLink]="[{ outlets: { admin: ['change-password'] } }]">Password ändern</button>
  <button md-button class="button" [routerLink]="['/admin/logout']">Logout</button>
</div>
<router-outlet name="admin"></router-outlet>
