<div color="primary" class="admin-container">
  <button md-button *ngIf="authenticationService.isAdmin()"
          class="button" [routerLink]="['users']">Benutzer
  </button>
  <button md-button *ngIf="authenticationService.isAdmin()" class="button"
          [routerLink]="['groups']">Gruppen
  </button>
  <button md-button class="button" [routerLink]="['registrations']">Anmeldungen</button>
  <span class="fill-remaining-space"></span>
  <button md-button class="button" [routerLink]="['change-password']">Password ändern</button>
  <button md-button class="button" [routerLink]="['/admin/logout']">Logout</button>
</div>
<router-outlet></router-outlet>
